{% extends 'base.html' %}

{% load static %}
{% block content %}

<!are your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->


  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
<!-- End Top Background Image Wrapper -->


<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <section id="introblocks">
      <ul class="nospace group btmspace-80">
{% for i in pr %}
        <li class="one_third ">
          <figure><a class="imgover" href={{i.get_url}}><img src=" {{i.img.url}}" alt="" style= "height:400;"></a>
            <figcaption>
              <h6 class="heading"> {{i.name}}</h6>
              <p>{{i.desc|truncatewords:17}}</p>
              <br>
                            <p>{{i.price}}Rs</p>
              <br>
              <p>stock left: {{i.stock}}</p>

            </figcaption>

          </figure>
                      {% endfor %}

        </li>
<!--        <li class="one_third">-->
<!--          <figure><a class="imgover" href="#"><img src="{% static 'hm/images/demo/348x261.png'%}" alt=""></a>-->
<!--            <figcaption>-->
<!--              <h6 class="heading">Laoreet tortor</h6>-->
<!--              <p>Pharetra etiam ut nisi non mi scelerisque consectetur maecenas vel elementum lectus cras maximus finibus.</p>-->
<!--            </figcaption>-->
<!--          </figure>-->
<!--        </li>-->
      </ul>
    </section>

    <!-- ################################################################################################ -->
    
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->


<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->


<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'hm/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>
{% endblock %}
